p {
  color: rgb(14, 12, 12);
  width: 600px;
  border: 1px solid rgb(255, 255, 255);
  background-color: aliceblue;
  text-align: center;
}

h1 {
  font-size: 50px;
  text-align: center;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #f8cd91;
  padding: 0 20px 20px 20px;
  border: 1px solid rgb(255, 255, 255);
}
html {
  background-color: #fff9dd;
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #000000;
  text-shadow: 3px 3px 1px rgb(87, 74, 74);
}
input {
  width: 100px;
}
.div1 {
  border: 1px solid rgb(255, 255, 255);
  text-align: center;
  display: inline-block;
}

.divcontenedora {
  text-align: center;
}
